body{
    text-align: center;
    background-color:rgb(173, 224, 245); 
}
.btn{
    height:200px;
    width:200px;
    border-radius:20%;
    border:2px solid black;
    margin:2.5rem;
}
.title{
    color:black;
    text-decoration:underline
}
.btn-container{
    display:flex;
    justify-content:center;
}
.box1color{
    background-color:#f99b45;
}
.box2color{
    background-color:#819;
}
.box3color{
    background-color:teal;
}
.box4color{
    background-color:rgb(151, 151, 3);
}
.flash{
    background-color:white;
}
.userflash{
    background-color:black;
}